{% extends "base.html" %}
{% block content %}

<section class="py-5 bg-light">
    <div class="container">

        <!-- Page Heading -->
        <div class="text-center mb-12">
                <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-4 font-poppins">Create New Tender</h2>
                <p class="text-xl text-gray-600 max-w-3xl mx-auto">
                   Publish a new government procurement opportunity
                </p>
            </div>

        

        <div class="row justify-content-center">
            <div class="col-lg-10">

                <div class="card shadow-sm border-0 rounded-4">
                    <div class="card-body p-4">

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- Basic Details -->
                            <h5 class="mb-3 fw-semibold">Basic Information</h5>

                            <div class="mb-3">
                                <label class="form-label">Tender Title</label>
                                <input type="text" class="form-control" name="title" placeholder="Enter tender title" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Department Name</label>
                                <input type="text" class="form-control"name="department"placeholder="Enter department name" required>
                            </div>

                            <!-- Category -->
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select" name="category" required>
                                    <option selected disabled>Select category</option>
                                    <option>Infrastructure</option>
                                    <option>Construction</option>
                                    <option>Road & Highway</option>
                                    <option>Water Supply</option>
                                    <option>Smart City</option>
                                    <option>IT & Software</option>
                                    <option>Cyber Security</option>
                                    <option>Healthcare</option>
                                    <option>Medical Equipment</option>
                                    <option>Education</option>
                                    <option>Agriculture</option>
                                    <option>Energy & Power</option>
                                    <option>Solar & Renewable Energy</option>
                                    <option>Defence</option>
                                    <option>Transport</option>
                                    <option>Railway</option>
                                    <option>Telecom</option>
                                    <option>Urban Development</option>
                                    <option>Rural Development</option>
                                    <option>Environment</option>
                                </select>
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Tender Description</label>
                                <textarea class="form-control" name="description" rows="4" placeholder="Enter detailed description"></textarea>
                            </div>

                            <!-- Financial Details -->
                            <h5 class="mb-3 fw-semibold">Financial Details</h5>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">Estimated Value (₹)</label>
                                    <input type="number"  class="form-control" name="estimated_value" placeholder="Enter project value">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label class="form-label">EMD Amount (₹)</label>
                                    <input type="number" class="form-control" name="emd_amount"placeholder="Enter EMD amount">
                                </div>
                            </div>

                            <!-- Dates -->
                            <h5 class="mb-3 fw-semibold">Important Dates</h5>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Publish Date</label>
                                    <input type="date" name="publish_date" class="form-control">
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Closing Date</label>
                                    <input type="date"  name="closing_date" class="form-control" required>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label class="form-label">Pre-Bid Meeting</label>
                                    <input type="datetime-local" name="pre_bid_meeting" class="form-control">
                                </div>
                            </div>

                            <!-- Location -->
                            <h5 class="mb-3 fw-semibold">Project Details</h5>

                            <div class="mb-3">
                                <label class="form-label">Project Location</label>
                                <input type="text" class="form-control" name="location" placeholder="Enter state / city / district">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Tender Status</label>
                                <select class="form-select" name="status" required>
                                    <option value="open">Open</option>
                                    <option value="closed">Closed</option>
                                    <option value="draft">Draft</option>
                                </select>
                            </div>

                            <!-- Document Upload -->
                            <h5 class="mb-3 fw-semibold">Tender Documents</h5>

                            <div class="mb-3">
                                <label class="form-label">Document Type</label>
                                <select class="form-select" name="document" required>
                                    <option selected disabled>Select document type</option>
                                    <option>Main Tender Notice</option>
                                    <option>BOQ (Bill of Quantity)</option>
                                    <option>Technical Specification</option>
                                    <option>Terms & Conditions</option>
                                    <option>Project Drawings</option>
                                    <option>Other Supporting Documents</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Upload Files</label>
                                <input type="file" class="form-control" multiple>
                                <div class="form-text">
                                    Allowed formats: PDF, DOCX, XLSX, ZIP
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="d-flex justify-content-between mt-4">
                                <a href="/dashboard/" class="btn btn-outline-secondary">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-primary px-4">
                                    Publish Tender
                                </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

{% endblock %}
